apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nextjs
  template:
    metadata:
      labels:
        app: nextjs
    spec:
      containers:
        - name: nextjs
          image: flavienrak/next-app:latest
          ports:
            - containerPort: 3000
          resources:
            limits:
              cpu: '500m'
              memory: '512Mi'
